<div id="main-container">
  <div class="pagination">
    <div *ngIf="learning_facts && learning_facts.length !== 0" class="pagination">
      <button class="pagination-btn" (click)="prevPage()" [disabled]="currentPage === 0">previous</button>
      <button class="pagination-btn">{{currentPage}}</button>
      <button class="pagination-btn" *ngIf="hasMorePages()" (click)="nextPage()">next</button>
      <button class="goback-btn" (click)="goBack()">go back</button>
    </div>
  </div>

  <div class="fact-container">
    <div *ngFor="let fact of learning_facts; index as i" class="fact-item">
      <div class="fact-title">
        <h1>{{ fact.name }}</h1>
      </div>
      <div class="fact-description">"{{fact.description }}"</div>
      <div class="fact-content">{{ fact.content }}</div>
      <button class="pagination-btn" *ngIf="!hasMorePages() && !isLearned" (click)="learn(0)">Finish to Learn !</button>
      <button class="pagination-btn" *ngIf="!hasMorePages() && isLearned" (click)="learn(0)">
        Congratulations, you learned this!</button>
    </div>
    <div *ngFor="let empty of remain_items" class="empty-item">
    </div>
  </div>
  <div *ngIf="!learning_facts || learning_facts.length === 0" class="no-results">
    <p>No Facts in This package</p>
  </div>

</div>


